body {
  font-family: 'Sofia Sans Extra Condensed', sans-serif;
}

.flex-container {
  border: solid black 1px;
  padding: 1em;
  display: flex;
  gap: 1em;

  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  /* flex-flow: column wrap;
  height: 20em;
  align-items: center;
  justify-content: space-between;
  overflow: auto; */

}

.flex-item {
  border: solid black 1px;
  padding: 0 1.5em;
  background-color: tomato;

  animation-name: my-animation2;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

/* .animate {
  animation-name: my-animation2;
  animation-duration: 3s;
  animation-iteration-count: infinite;
} */

@keyframes my-animation1 {
  from { background-color: tomato; }
  to { background-color: aquamarine; }
}

@keyframes my-animation2 {
  0%, 100% {
    background-color: tomato;
    border-radius: 0%;
  }
  25% {
    background-color: violet;
  }
  50% {
    background-color: aquamarine;
    border-radius: 50%;
  }
  75% {
    background-color: yellowgreen;
  }
}

@keyframes my-animation3 {
  0% {
    position: relative;
    left: 0;
    transform: rotate(0deg);
  }
  50% {
    position: relative;
    left: 500px;
    transform: rotate(180deg);
  }
  100% {
    position: relative;
    left: 0;
    transform: rotate(360deg);
  }
}
  
.icon-style {
  color: aqua;
  animation-name: my-animation3;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}






form:first-of-type {
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  padding: 1em;
  border-radius: 10px;
}

form:first-of-type label {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.checkbox-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.radio-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 1em;
}

input[type="text"] {
  width: 100%;
}







form:last-of-type {
  border: solid 2px red;
  border-radius: 10px;
  padding: 1em;
}

form:last-of-type label:not(label:last-of-type) {
  margin-right: 12%;
}

form:last-of-type input[type="checkbox"] {
  position: relative;
  top: 0.1em;
}

form:last-of-type input[type="radio"] {
  position: relative;
  top: 0.1em;
}

.checkbox-div2 {
  text-align: left;
}